{% extends 'gallery/base.html' %}
{% block title %}
{% if id %}Update{% else %}Create{% endif %}
{% endblock %}

{% block content %}
<div class="max-w-4xl mx-auto p-8 my-20 shadow-2xl rounded-lg">
    <div class="max-w-xs mx-auto p-4">
        <h2 class="text-3xl text-center">{% if id %}Update{% else %}Create{% endif %} content</h2>
        <form action="." method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% for field in form %}
            <div class="">
               <label for="" class="text-lg mb-2 text-gray-600 font-semibold">{{field.label_tag}}</label>
               {{field}}
            </div>

            {% endfor %}
            <input type="submit" value="create" class="text-white font-medium  bg-blue-500 hover:bg-blue-700 px-6 py-4 w-full rounded-lg mt-4">
        </form>
    </div>
    
</div>
{% endblock %}